openapi: '3.0.0'
info:
  version: 1.0.0
  title: Alex Haddad Documentation
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /secrets:
    get:
      summary: List all secrets
      operationId: listSecrets
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of secrets
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secrets'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a secret
      operationId: createSecret
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /secrets/{secretId}:
    get:
      summary: Get secret info
      operationId: showSecretById
      parameters:
        - name: secretId
          in: path
          required: true
          description: The id of the secret to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secrets'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /vaults:
    get:
      summary: List all vaults
      operationId: listVaults
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of vaults
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vaults'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Secret:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        encryptedValue:
          type: string
    Secrets:
      type: array
      items:
        $ref: '#/components/schemas/Secret'
    Vault:
      required:
        - id
        - label
      properties:
        id:
          type: integer
          format: int64
        label:
          type: string
    Vaults:
      type: array
      items:
        $ref: '#/components/schemas/Vault'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string